* {
  box-sizing: border-box;
}

body {
  background-color: rgb(46, 46, 46);
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: rgba(0, 242, 255, 0.72)
}

header {
  display: flex; 
  flex-direction: column;
  margin-top: 25px;  
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap; 
  margin: 15%;
  padding: 10px;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 7%;
  }

.main header h1 {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.box {
  border-style: dotted;
  border-width: 5px;
  padding: 10px;
  margin: 20px;
  flex: 0 0 300px;
  border-radius: 15%;
  }