body {
  background-color: rgb(46, 46, 46);
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: rgba(0, 242, 255, 0.72);
  align-content: center;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: grid; 
  width: 100; 
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  justify-items: center;
  justify-content: center;
  margin: 100px; 
}

.box {
  box-sizing: border-box;
  width: 500px;
  height: auto;
  padding: 40px; 
  border: 2px dashed; 
  border-radius: 5px 5px 5px 5px;
}

.box header {
  display: flex;
  justify-content: center;
  border: 2px solid; 
  padding: 5px;
  font-size: 24px;
  width: 400px; 
  border-radius: 5px 5px 5px 5px;
  position: relative;
  z-index: 1;
  background-color: rgb(46, 46, 46);;
  margin-top: -55px; 
}

.box > pre {
  color: white;
  border-radius: 5px 5px 5px 5px;
  padding: 10px; 
  background-image: linear-gradient(
    rgba(0, 242, 255, 0.72) 0%,
    rgba(0, 242, 255, 0.72) 100%
  );
}